
<div
  class="main-container"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div class="container-login" fxLayout="column" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="60" fxFlex="40">
   <div fxLayoutAlign="center center">
     <div class="container-round" fxLayoutAlign="center center">
        <mat-icon >person</mat-icon>
    </div>
   </div>
    <mat-divider></mat-divider>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Login">
          <app-login></app-login>
      </mat-tab>
      <mat-tab label="Registro">
        <app-register></app-register>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

